body {
	color: #212b38;
}

.container {
	width: 300px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1 {
	margin: 0;
	padding: 20px;
	background: #212b38;
	color: white;
	font-weight: normal;
}

input {
	padding: 13px 13px 13px 20px;
	height: 40px;
	background: #f7f7f7;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	border: none;
}

input:focus {
	border: solid 1px #212b38;
	background: white;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: white;
	height: 40px;
	line-height: 40px;	
}

li:nth-child(2n) {
	background: #f7f7f7;
}

.completed {
	color: grey;
	text-decoration: line-through;
}

